---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=4e0f08bca4789de7d6bdad1513caeba6&exclude=minutely&lat=39.738453&lon=-104.984853
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1610839390,"sunrise":1610806713,"sunset":1610841641,"temp":278.8,"feels_like":275.81,"pressure":1019,"humidity":44,"dew_point":268.15,"uvi":0.18,"clouds":1,"visibility":10000,"wind_speed":0.45,"wind_deg":138,"wind_gust":1.79,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1610838000,"temp":278.8,"feels_like":274.31,"pressure":1019,"humidity":44,"dew_point":268.15,"uvi":0.18,"clouds":1,"visibility":10000,"wind_speed":2.59,"wind_deg":124,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1610841600,"temp":278.23,"feels_like":274.19,"pressure":1020,"humidity":54,"dew_point":270.09,"uvi":0,"clouds":5,"visibility":10000,"wind_speed":2.29,"wind_deg":148,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1610845200,"temp":277.31,"feels_like":273.65,"pressure":1021,"humidity":63,"dew_point":271.16,"uvi":0,"clouds":73,"visibility":10000,"wind_speed":1.95,"wind_deg":144,"weather":[{"id":803,"main":"Clouds","description":"broken
 [...]
