---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=4e0f08bca4789de7d6bdad1513caeba6&exclude=minutely,alerts&lat=39.738453&lon=-104.984853
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1610864637,"sunrise":1610806713,"sunset":1610841641,"temp":271.44,"feels_like":266.01,"pressure":1023,"humidity":63,"dew_point":266.01,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":3.64,"wind_deg":129,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}]},"hourly":[{"dt":1610863200,"temp":271.44,"feels_like":266.01,"pressure":1023,"humidity":63,"dew_point":266.01,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":3.64,"wind_deg":129,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0},{"dt":1610866800,"temp":272.29,"feels_like":267.32,"pressure":1024,"humidity":78,"dew_point":269.33,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":3.5,"wind_deg":122,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0},{"dt":1610870400,"temp":272.73,"feels_like":268.37,"pressure":1025,"humidity":86,"dew_point":270.92,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":2.91,"wind_deg":121,"weather":[{"id":804,"main":"Clouds","description":[...]
