---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=rp1f9XADEHpB3wKdibyo7JAEtWcLxHr3&location=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Sun, 17 Jan 2021 00:25:10 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=rp1f9XADEHpB3wKdibyo7JAEtWcLxHr3&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=917617236"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=rp1f9XADEHpB3wKdibyo7JAEtWcLxHr3&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-2&scalebar=true&zoom=9&rand=1863278961"}]}]}'
  recorded_at: Sun, 17 Jan 2021 00:25:10 GMT
[...]
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=4e0f08bca4789de7d6bdad1513caeba6&exclude=minutely&lat=39.738453&lon=-104.984853
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1610843111,"sunrise":1610806713,"sunset":1610841641,"temp":276.6,"feels_like":273.22,"pressure":1020,"humidity":48,"dew_point":267.37,"uvi":0,"clouds":17,"visibility":10000,"wind_speed":0.89,"wind_deg":69,"wind_gust":2.24,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02n"}]},"hourly":[{"dt":1610841600,"temp":276.6,"feels_like":272.45,"pressure":1020,"humidity":48,"dew_point":267.37,"uvi":0,"clouds":17,"visibility":10000,"wind_speed":1.99,"wind_deg":150,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}],"pop":0},{"dt":1610845200,"temp":276.87,"feels_like":273.01,"pressure":1021,"humidity":57,"dew_point":269.61,"uvi":0,"clouds":58,"visibility":10000,"wind_speed":1.94,"wind_deg":135,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"pop":0},{"dt":1610848800,"temp":276.44,"feels_like":272.78,"pressure":1022,"humidity":66,"dew_point":270.99,"uvi":0,"clouds":82,"visibility":10000,"wind_speed":1.92,"wind_deg":134,"weather":[{"id":803,"main":"Clouds","description":"br[...]
[...]
