---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=rp1f9XADEHpB3wKdibyo7JAEtWcLxHr3&location=pueblo,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Tue, 19 Jan 2021 17:11:32 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"pueblo,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Pueblo","adminArea5Type":"City","adminArea4":"Pueblo
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282040865","unknownInput":"","type":"s","latLng":{"lat":38.265425,"lng":-104.610415},"displayLatLng":{"lat":38.265425,"lng":-104.610415},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=rp1f9XADEHpB3wKdibyo7JAEtWcLxHr3&type=map&size=225,160&locations=38.265425,-104.610415|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-1727938877"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Pueblo
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932014","unknownInput":"","type":"s","latLng":{"lat":38.265425,"lng":-104.610415},"displayLatLng":{"lat":38.265425,"lng":-104.610415},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=rp1f9XADEHpB3wKdibyo7JAEtWcLxHr3&type=map&size=225,160&locations=38.265425,-104.610415|marker-sm-50318A-2&scalebar=true&zoom=9&rand=340905241"}]}]}'
  recorded_at: Tue, 19 Jan 2021 17:11:32 GMT
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=4e0f08bca4789de7d6bdad1513caeba6&exclude=minutely,alerts&lat=38.265425&lon=-104.610415&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":38.2654,"lon":-104.6104,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1611076292,"sunrise":1611065519,"sunset":1611101172,"temp":28.81,"feels_like":21.56,"pressure":1032,"humidity":80,"dew_point":24.04,"uvi":1.2,"clouds":75,"visibility":10000,"wind_speed":4.61,"wind_deg":240,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"hourly":[{"dt":1611075600,"temp":28.81,"feels_like":21.7,"pressure":1032,"humidity":80,"dew_point":24.04,"uvi":1.2,"clouds":75,"visibility":10000,"wind_speed":4.36,"wind_deg":293,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0.35},{"dt":1611079200,"temp":29.68,"feels_like":23.7,"pressure":1033,"humidity":85,"dew_point":26.19,"uvi":1.73,"clouds":87,"visibility":10000,"wind_speed":2.8,"wind_deg":276,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0.33},{"dt":1611082800,"temp":30.79,"feels_like":25.21,"pressure":1033,"humidity":88,"dew_point":28.02,"uvi":2.07,"clouds":95,"visibility":10000,"wind_speed":2.53,"wind_deg":199,"weather":[{"id":804,"main":"Clouds","descriptio[...]
