---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?categories=chinese&location=denver,co&open_at=1611075600
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer GP7IfKbtfFLQ_HcMSRgCwLQ2J8tTKisMll2YQa4ud1tHXMZVcttQW683bGJSuIub6DgFwWRGVoCEuAmHLr8_sd7d12j9UOpH6QScA0ZgW8WPuii458NplZtx9PcFYHYx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Dailylimit:
      - '5000'
      Ratelimit-Remaining:
      - '4988'
      X-Zipkin-Id:
      - b2f0feebad268672
      Ratelimit-Resettime:
      - '2021-01-20T00:00:00+00:00'
      X-Routing-Service:
      - routing-main--uswest2-5b584d59bc-st9bg; site=public_api_v3
      X-Proxied:
      - 10-69-90-30-uswest2aprod
      X-Extlb:
      - 10-69-90-30-uswest2aprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "WNuT_lfBJu_uJIG-AOvNmw", "alias": "hong-kong-barbecue-denver",
        "name": "Hong Kong Barbecue", "image_url": "https://s3-media2.fl.yelpcdn.com/bphoto/iWUac2V0oyVj-2L2R8GC8Q/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/hong-kong-barbecue-denver?adjust_creative=SG74TKmAPduZb5E7Qi7MtQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=SG74TKmAPduZb5E7Qi7MtQ",
        "review_count": 206, "categories": [{"alias": "bbq", "title": "Barbeque"},
        {"alias": "cantonese", "title": "Cantonese"}], "rating": 4.0, "coordinates":
        {"latitude": 39.69767, "longitude": -105.02469}, "transactions": ["delivery"],
        "price": "$", "location": {"address1": "1048 S Federal Blvd", "address2":
        "", "address3": "", "city": "Denver", "zip_code": "80219", "country": "US",
        "state": "CO", "display_address": ["1048 S Federal Blvd", "Denver, CO 80219"]},
        "phone": "+13039379088", "display_phone": "(303) 937-9088", "distance": 6271.4780053224895},
        {"id": "DUk54oQfCdEXmMQXTb3XCQ", "alias": "super-star-asian-cuisine-denver-2",
        "name": "Super Star Asian Cuisine", "image_url": "https://s3-media2.fl.yelpcdn.com/bphoto/ik_8sezbZllA6U69ucin9Q/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/super-star-asian-cuisine-denver-2?adjust_creative=SG74TKmAPduZb5E7Qi7MtQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=SG74TKmAPduZb5E7Qi7MtQ",
        "review_count": 482, "cat[...]
